// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
body{
    width: 100vw;
    height: 100vh;
  
    
    background: rgb(219,230,221);
    background: linear-gradient(90deg, rgba(219,230,221,1) 0%, rgba(255,255,255,1) 49%, rgba(253,255,251,1) 100%);
    filter: blur(5px);
}
    